# Build results
bin/
obj/

# Visual Studio cache/options
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Rider
.idea/

# Build outputs
*.dll
*.exe
*.pdb
*.cache

# NuGet Packages
*.nupkg
*.snupkg
packages/

# Files built by Visual Studio
*.obj
*.pch
*.ipch
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Test Results
TestResults/
*.trx
*.coverage
*.coveragexml

# Rider specific
_ReSharper*/
*.DotSettings.user

# Keep these files
!.gitignore

